<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Delegation Book</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="#">ZESZYT DELEGACJI</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
