@model IEnumerable<string>

    <form asp-controller="BusinessTrip" asp-action="List" method="post">
        <label>Temat</label>
        <select id="symbol" name="symbol" class="form-control">
            @foreach (var symbol in Model)
            {
                <option value="@symbol">@symbol</option>
            }
        </select>
        <br>
        <button type="submit" class="btn btn-secondary">Zastosuj</button>
    </form>