@model IEnumerable<string>

    <select id="dropdowntipo">
        <option value="Exemplo1">Exemplo1</option>
        <option value="Exemplo2">Exemplo2</option>
        <option value="Exemplo3">Exemplo3</option>
    </select>